// 2x 3x 背景图片
@mixin bg-image($name) {
  background-image: url($name+'@2x.png');
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio:3) {
    background-image: url($name+'@3x.png');
  }
}

// 单行文本超出显示省略号
@mixin no-wrap() {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin extend-click() {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
  }
}
